body {
  background-color: gray;
}
.circle {
  border-radius: 50%;
  border: 10px double red;
  width: 100px;
  height: 100px;
  background-color: white;
}

.setJsx {
  width: 100px;
  height: 100px;
  background-color: green;
}