body {
  background-color: rgb(221, 221, 221);
}
.circle {
  border-radius: 50%;
  border: 10px double red;
  width: 100px;
  height: 100px;
  background-color: white;
}

.setJsx {
  width: 100px;
  height: 100px;
  background-color: green;
  border: 3px solid red;
  border-radius: 50%;
}

.square {
  width: 400px;
  height: 300px;
  background-color: gray;
}